@import '@mixins'

.v-drawer-overlay
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background-color transparent
  backdrop-filter blur(2px)
  -webkit-backdrop-filter blur(2px)
  opacity 0
  pointer-events none
  transition opacity 200ms ease-out
  z-index var(--vlayer-middle)
  &.is-open
    opacity 1
    pointer-events auto

.v-drawer-wrapper
  --vdrawer-offset 200px
  position fixed
  right 0
  bottom 0
  left 0
  width 100%
  height calc(100vh - var(--vdrawer-offset))
  height calc(100dvh - var(--vdrawer-offset))
  padding 10px
  box-sizing border-box
  transform translate3d(0, 100%, 0)
  transition transform 200ms ease-out
  will-change transform
  pointer-events none
  z-index var(--vlayer-high)
  &.is-open
    transform translate3d(0, 0, 0)
    pointer-events auto
  &.is-large
    --vdrawer-offset 80px
  &.is-small
    --vdrawer-offset 400px

.v-drawer
  position relative
  display flex
  flex-direction column
  flex 1
  width 100%
  height 100%
  background-color var(--vcolor-lightest)
  border-radius 36px
  box-shadow 0 -5px 48px 0 hsla(0, 0%, 0%, .65)
  overflow hidden
  &:has(.v-drawer-image)
    .v-drawer-body
      margin-top 300px
  > .v-close-button
    position absolute
    top 30px
    right 30px
    z-index 2

.v-drawer-header
  display flex
  justify-content space-between
  padding 30px 58px 30px 30px
  background-color var(--vcolor-lightest)
  box-shadow 0 6px 12px 0 var(--vcolor-lightest)
  z-index 1

.v-drawer-title
  line-height 28px

.v-drawer-body
  position relative
  height auto
  min-height 0
  padding 30px 30px calc(50px + env(safe-area-inset-bottom, 0px)) 30px
  background-color var(--vcolor-lightest)
  overflow-y auto
  -webkit-overflow-scrolling touch
  overscroll-behavior contain
  box-sizing border-box
  z-index 1
  h3
    color var(--vcolor-grey-darker)
  p
    color var(--vcolor-grey-dark)

+breakpoint('sm')
  .v-drawer-overlay
    background-color hsla(228, 5%, 25%, .25)
  .v-drawer-wrapper
    top 0
    left auto
    height 100vh
    max-width 480px
    padding 20px
    transform translate3d(100%, 0, 0)
    &.is-open
      transform translate3d(0, 0, 0)
  .v-drawer
    border-radius 24px
    box-shadow -16px 0 48px 0 hsla(0, 0%, 0%, .15)
  .v-drawer-body
    min-height 0
    padding 30px
    overflow-y auto
