.v-tag
  display inline-flex
  padding 8px
  background-color var(--vcolor-blue-light)
  color var(--vcolor-blue)
  font-size var(--vfont-size-xxs)
  font-weight bold
  text-transform uppercase
  border-radius 4px
