.v-footer
  margin-top 50px
  padding 50px 0
  border-top 1px solid var(--vcolor-grey-light)

.v-footer-credits
  margin-top 20px
  color var(--vcolor-grey-dark)
  font-size var(--vfont-size-xxs)
  text-align center

.v-footer-configurations
  display flex
  justify-content center
