.v-installation-banner
  display flex
  align-items center
  justify-content space-between
  padding 20px
  background-color var(--vcolor-blue-lighter)
  color var(--vcolor-blue-darker)
  border-radius 12px
  box-sizing border-box
  h3
    font-size var(--vfont-size-sm)
  p
    font-size var(--vfont-size-xs)
  a
    background var(--vcolor-blue-dark)
    border-radius 50%
    .v-icon-harrow
      polyline,
      line
        stroke var(--vcolor-blue-lighter)
