.v-drawer:has(.v-drawer-image)
  .v-drawer-body
    margin-top 300px
    background-color var(--vcolor-lightest)

.v-drawer-body
  .v-icon-clock
    width 26px
    height 26px
  h3
    color var(--vcolor-grey-darker)
  p
    color var(--vcolor-grey-dark)

.v-event-drawer-row
  & + &
    margin-top 20px

.v-event-drawer-actions
  display flex
  justify-content center
