.v-button
  display flex
  align-items center
  justify-content center
  gap 6px
  height 40px
  min-width 200px
  padding 0
  background-color var(--vcolor-grey-light)
  color var(--vcolor-grey-dark)
  font-size var(--vfont-size-sm)
  font-weight bold
  line-height 1
  text-align center
  text-decoration none
  border 0
  border-radius 10px
  transition-property background-color, border-color
  transition-duration 200ms
  transition-timing-function ease-in-out
  outline 0
  cursor pointer
  -webkit-appearance none
  &:focus,
  &:hover,
  &:active
    background-color var(--vcolor-grey-mid-light)
    border-color var(--vcolor-grey-mid-light)
  &.v-button-primary
    background-color var(--vcolor-primary)
    color var(--vcolor-lightest)
    border-color var(--vcolor-primary)
    &:focus,
    &:hover,
    &:active
      background-color var(--vcolor-red-mid-light)
      border-color var(--vcolor-red-mid-light)
  &.v-button-icon
    position relative
    min-width 0
    width 40px
