.v-icon
  display flex
  width var(--v-icon-width, 40px)
  height var(--v-icon-height, 40px)
  [data-stroke]
    fill none
    stroke-width var(--v-icon-stroke-width, 1px)
    stroke var(--v-icon-stroke-color, var(--vcolor-grey-dark))
    stroke-linecap round
    stroke-linejoin round
    stroke-miterlimit 10
  [data-shape]
    fill var(--vcolor-grey-dark)
