@import '@mixins'

.v-event-category-tag
  display flex
  justify-content center
  align-items center
  width 26px
  height 26px
  .v-icon
    width 26px
    height 26px

.v-event-category-caption
  sr-only()
