@import '@mixins'

.v-event-category-tag
  display flex
  justify-content center
  align-items center
  width 24px
  height 24px
  background-color var(--vcolor-grey-light)
  border 1px solid var(--vcolor-grey)
  border-radius 4px
  .v-icon
    width 24px
    height 24px

.v-event-category-caption
  sr-only()
