.v-event-drawer-image-category
  display flex
  align-items center
  gap 10px
  color var(--vcolor-grey-mid-lighter)
  .v-icon
    width 40px
    height 40px
    [data-stroke]
      stroke var(--vcolor-grey-mid-lighter)
